<div ng-app="myApp">
    
    @Html.Partial("~/Views/Home/_About.cshtml")

    <div class="container" ng-controller="FormController as Form" ng-init='Form.Initialize(@Html.Raw(Json.Encode(ViewBag.Messages)), "@ViewBag.EmployeeName", @Html.Raw(Json.Encode(ViewBag.OfficeList)))'>
        
        <button type="button" class="btn btn-default" ng-click="Form.OpenAboutPopup()">Open popup</button>        

        <form name="employeeForm" novalidate>
            <h1>Test form for user {{Form.employee.employee}}</h1>
            <div class="row">
                <div class="col-md-1">Employee:</div>
                <div class="col-md-3"><input type="text" ng-model="Form.employee.employee" disabled="disabled" class="form-control" /></div>
            </div>
            <div class="row">
                <div class="col-md-1">Number:</div>
                <div class="col-md-3"><input name="number" type="text" ng-required="true" ng-model="Form.employee.number" class="form-control" /></div>
                <div class="col-md-8"><span ng-show="employeeForm.number.$error.required" class="validationError">Required.</span></div>
            </div>
            <div class="row">
                <div class="col-md-1">Start Date:</div>
                <div class="col-md-3">
                    <p class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="{{Form.dateFormat}}"
                               name="dt" ng-model="Form.employee.startDate" is-open="Form.startDateOpen"
                               datepicker-options="Form.dateOptions" ng-required="true"
                               close-text="Close" />
                        <span class="input-group-btn">
                            <button class="btn btn-default" ng-click="Form.OpenStartDatePicker($event)">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </p>
                </div>
            </div>
            <div class="checkbox row">
                <div class="col-md-4"><input type="checkbox" ng-model="Form.employee.worksInOffice" /> Works in office:</div>
            </div>
            <div class="row officeDetail" ng-show="Form.employee.worksInOffice">
                <div class="col-md-1">Office:</div>
                <div class="col-md-3"><select ng-disabled="!Form.employee.worksInOffice" ng-model="Form.employee.office" ng-options="officeChoice.Key as officeChoice.Value for officeChoice in Form.officeChoices" class="form-control"></select></div>
            </div>
            <div class="row">
                <div class="col-md-1">Comment</div>
                <div class="col-md-3"><input name="comment" type="text" ng-model="Form.employee.comment" ng-required="Form.IsCommentRequired()" class="form-control" /></div>
                <div class="col-md-8"><span ng-show="employeeForm.comment.$error.required" class="validationError">Required</span></div>
            </div>

            <button type="button" ng-click="Form.SubmitForm()" ng-disabled="!employeeForm.$valid" class="btn btn-default btn-lg">
                <span class="glyphicon glyphicon-ok"></span> Submit User
            </button>

            <div>
                <h3>Preview:</h3>
                <b>Employee: </b> {{Form.employee.employee}}<br />
                <b>Number: </b> {{Form.employee.number}}<br />
                <b>Works in office: </b> {{Form.employee.worksInOffice}}<br />
                <div ng-show="Form.employee.worksInOffice" class="officeDetail"><b>Office: </b> {{Form.employee.office}}</div>
                <b>Comment: </b> {{Form.employee.comment}}<br />
                <div>
                    {{Form.employee}}
                </div>
            </div>

            <div>{{Form.message}}</div>
            <div>
                <ul>
                    <li ng-repeat="message in messages">{{Form.message | uppercase}}</li>
                </ul>
            </div>
        </form>
    </div>

</div>

<script>
    (function() {
        'use strict';

        window.addEventListener("load", InitializeApplication, false);

        function InitializeApplication(e) {
            URL_LIST.SubmitEmployee = '@Url.Action("SubmitEmployee", "Home")';
        }

    })();

</script>