<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap-theme.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/animate.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/ui-grid.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.1/angular.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.1/angular-animate.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/ui-bootstrap-tpls-1.1.0.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/ui-grid.min.js")"></script>

</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/scripts/wsp/Application.js")
    @Scripts.Render("~/scripts/wsp/Constants.js")
    @Scripts.Render("~/scripts/wsp/Services/EmployeeService.js")
    @Scripts.Render("~/scripts/wsp/Controllers/FormController.js")
    @Scripts.Render("~/scripts/wsp/Controllers/AboutController.js")
    @Scripts.Render("~/scripts/wsp/Controllers/EmployeeOverviewController.js")
    @RenderSection("scripts", required: false)
</body>
</html>
